
<p id="notice"><%= notice %></p>

<%= form_with(url: sessions_path, method: :post) do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit 'Login' %>
<% end %>
<%=link_to "Register New Account", signup_path, class:"text-blue-700 underline my-8" %>

</div>