<div id="<%= dom_id user %>">
    <tr>
      <td scope="row"><%= user.username %></td>
      <td><%= user.email_address %></td>
      <td><%= user.full_name %></td>
      <td> <%= user.role %></td>
      <td><%= user.status %></td>
      <% if action_name != 'show' %>
      <td><%= link_to "Show this user", user %></td>
      <% end %>
    </tr>

  

  <p>
  
</p>

</div>
