<div id="<%= dom_id user %>">
    <tr>
      <td scope="row"><%= user.username %></td>
      <td><%= user.email_address %></td>
      <td><%= user.full_name %></td>
      <td> <%= user.role %></td>
      <td><%= user.status %></td>
      <% if action_name != 'show' %>
      <td>
      <% if user.status == 'Approved' %>
        <%= link_to "Show this user", user %></td>
      <% else %>
          <%= button_to "Approve this user", user, method: 'POST' %></td>
      <% end %>
      <% end %>
    </tr>

  

  <p>
  
</p>

</div>
