<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>


<% if current_user.role == 'Admin' %>
  <%= link_to "Show this user", @user ,:class=>'btn' %> |
  <%= link_to "Back to Homepage", users_path ,:class=>'btn' %>
<% else %>
  <div>
    <%= link_to "View Profile", @user ,:class=>'btn' %> |
    <%= link_to "Back to Homepage", root_path ,:class=>'btn'  %>
  </div>
<% end %>
