<div id="<%= dom_id cash_account %>">
    <tr>
      <td scope="row"><%= cash_account.bank_name %></td>
      <td><%= cash_account.amount %></td>
      <td><%= cash_account.account_number %></td>
      <td> <%= cash_account.trans_type %></td>
      <td> <%= cash_account.created_at %></td>
    </tr>


</div>