<%# form_with(model: transaction) do |form| %>
  <%= form_with  url: "/transaction/create" do |form| %>
 

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :transaction_type, style: "display: block" %>
    <%= form.text_field :transaction_type %>
  </div>

  <div>
    <%= form.label :stock_name, style: "display: block" %>
    <%= form.text_field :stock_name ,value: stock[:symbol] %>
  </div>

  <div>
    <%= form.label :number_of_stock, style: "display: block" %>
    <%= form.number_field :number_of_stock %>
  </div>

  <div>
    <%= form.label :total_price, style: "display: block" %>
    <%= form.text_field :total_price %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
