<div id="<%= dom_id transaction %>">
  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= transaction.transaction_type %>
  </p>

  <p>
    <strong>Stock name:</strong>
    <%= transaction.stock_name %>
  </p>

  <p>
    <strong>Number of stock:</strong>
    <%= transaction.number_of_stock %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= transaction.total_price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

</div>
